@import "./variables";
@import "./UserBar";
@import "./UserFeed";
@import "./tweet";
@import "./news";
body{
    background-color: $tt_second;
    margin: 0;
}
.container{
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 25% 45% auto;
    gap: 1px;
    color: $tt_contrast;
    & > div{
        background-color: $tt_bg;
    }
}