@import "./variables";
body{
    background-color: $tt_second;
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% auto 30%;
    gap: 1px;
    color: $tt_contrast;
    & > div{
        background-color: $tt_bg;
    }
}