@import "./variables";
@import "./UserBar";
@import "./UserFeed";
@import "./tweet";
@import "./news";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: $tt_second;
    margin: 0;
}
.container{
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 25% 45% auto;
    gap: 1px;
    color: $tt_contrast;
    & > div{
        background-color: $tt_bg;
    }
}